/* Efecto de parpadeo del cursor */
.typing::after {
  content: '|';
  animation: blink 0.75s step-end infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Animación para el texto en "yo soy" */
@keyframes slideIn {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.yo-soy {
  animation: slideIn 1s ease-out;
}

/* Redes sociales */
.neon-circle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px; /* Tamaño del círculo */
  height: 48px;
  border-radius: 50%; /* Hacerlo circular */
  background: inherit; /* Usar el mismo fondo que el sitio */
  border: 2px solid transparent; /* Evitar bordes visibles */
  box-shadow: 0 0 10px 4px rgba(59, 130, 246, 0.5), 
              0 0 30px 6px rgba(59, 130, 246, 0.8); /* Efecto neón */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Hover: agrandar el círculo y neón más intenso */
.neon-circle:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px 6px rgba(59, 130, 246, 0.7), 
              0 0 40px 8px rgba(59, 130, 246, 1);
}

/* Imágenes o íconos dentro del círculo */
.neon-circle img, .neon-circle svg {
  width: 60%; /* Tamaño relativo al círculo */
  height: 60%;
  border-radius: 50%; /* Hacer íconos circulares si es necesario */
  object-fit: cover; /* Ajustar imágenes sin deformarlas */
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.fade-in {
  animation: fadeIn 1s ease-in-out;
}

/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0; /* Ajustar padding para que no haya márgenes innecesarios */
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
}

.navbar a {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: .3s;
}

.navbar a:hover,
.navbar a.active {
  color: #3b82f6;
}

/* Ajustes para el body */
body {
  margin-top: 100px; /* Espacio para que el contenido no quede tapado por el header fijo */
  font-family: 'Arial', sans-serif;
}

